@import 'styles/variables';
@import 'styles/globals';
@import 'styles/header';
@import 'styles/experience';

html {
    font-family: 'Open Sans', sans-serif;
}

.main-content {
    max-width: 75vw;
    margin: 0 auto;
}
