.experience {
    &__timeline-grid {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        grid-column-gap: 20px;
    }

    &__item-container {
        grid-column-end: span 5;

        &--right {
            grid-column-start: 7;
        }

    }

    &__timelime-line {
        grid-column-end: span 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__timeline-icon-container {
        border-radius: 50%;
        width: 55px; 
        height: 70px;
        background-color: $blue;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    &__timeline-vertical-line {
        height: 100%;
        margin: 0;
        background-color: $very-light-grey;
        border: 0;
        width: 3px;
    }

    &__timeline-filler {
        grid-column-end: span 6;

        &--right {
            grid-column-start: 7;
        }

        &--left {
            grid-column-end: span 5;
            grid-column-start: 1;
        }
    }

    &__job-title {
        margin: 0;
    }

    &__company-name {
        margin: 0;
    }

    &__employment-date {
        display: block;
    }

    &__employment-location {
        display: block;
    }

}
