.experience {
    &__timeline-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        justify-content: center;
    }

    &__item-container {
        padding-bottom: 3.123rem;
        grid-column-end: span 2;

        &--left {
            grid-column-start: 1;
        }

        &--right {
            grid-column-start: 4;
        }

    }

    &__timeline-line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__timeline-icon-container {
        border-radius: 50%;
        width: 2.369rem;
        height: 2.369rem;
        background-color: $blue;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    &__timeline-vertical-line {
        height: calc(100% - 2.369rem);
        margin: 0;
        background-color: $very-light-grey;
        border: 0;
        width: 3px;
    }

    &__timeline-filler {
        grid-column-end: span 2;
        grid-column-start: 1;
    }

    &__job-title {
        margin: 0;
    }

    &__company-name {
        margin: 0;
    }

    &__employment-date {
        display: block;
    }

    &__employment-location {
        display: block;
    }

    &__inner-content {
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .experience {
        &__timeline-grid {
            text-align: center;
        }

        &__item-container {
            grid-column-end: span 5;

            &--right {
                grid-column-start: 1;
            }
        }

        &__timeline-line {
            grid-column-start: 2;
            grid-column-end: span 3;
        }
    }
}
