.header {
    position: relative;

    // For Now
    overflow: hidden;

    &__background-shape {
        background-color: $blue;
        min-height: 45vh;
        transform: skewY(5deg);
        transform-origin: 100%;
    }

    &__content-container{
        position: absolute; 
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__nav-item {
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
            color: blue;
        }
        &--homepage {
            color: white;
        }
    }

    &__hero-image-container {
        min-height: 55vh;
        position: absolute;
        width: 100%;
        top:0;
        left:0;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
